 .filterable {
     margin-top: 15px;
 }
 
 .filterable .panel-heading .pull-right {
     margin-top: -20px;
 }
 
 .filterable .filters input[disabled] {
     background-color: transparent;
     border: none;
     cursor: auto;
     box-shadow: none;
     padding: 0;
     height: auto;
 }
 
 .filterable .filters input[disabled]::-webkit-input-placeholder {
     color: #333;
 }
 
 .filterable .filters input[disabled]::-moz-placeholder {
     color: #333;
 }
 
 .filterable .filters input[disabled]:-ms-input-placeholder {
     color: #333;
 }
 
 #show_detil {
     cursor: pointer;
 }
 
 .tablesorter-default .header,
 .tablesorter-default .tablesorter-header {
     background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
     background-position: center right;
     background-repeat: no-repeat;
     cursor: pointer;
     white-space: normal;
     padding: 4px 20px 4px 4px;
 }
 
 .tablesorter-default thead .headerSortUp,
 .tablesorter-default thead .tablesorter-headerSortUp,
 .tablesorter-default thead .tablesorter-headerAsc {
     background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
     border-bottom: #333 1px solid;
 }
 
 .tablesorter-default thead .headerSortDown,
 .tablesorter-default thead .tablesorter-headerSortDown,
 .tablesorter-default thead .tablesorter-headerDesc {
     background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
     border-bottom: #333 1px solid;
 }