<!-- Bubble Chart Component -->
<div class="vzb-bubblechart">
  <svg class="vzb-bubblechart-svg">
    <g class="vzb-bc-graph">
      <g class="vzb-bc-year"></g>

      <svg class="vzb-bc-axis-x"><g></g></svg>
      <svg class="vzb-bc-axis-y"><g></g></svg>
      <line class="vzb-bc-projection-x"></line>
      <line class="vzb-bc-projection-y"></line>

      <svg class="vzb-bc-bubbles-crop">
        <rect class="vzb-bc-eventarea"></rect>
        <g class="vzb-bc-trails"></g>
        <g class="vzb-bc-bubbles"></g>
        <g class="vzb-bc-lines"></g>
      </svg>        

      <g class="vzb-bc-axis-y-title"></g>
      <g class="vzb-bc-axis-x-title"></g>
      <g class="vzb-bc-axis-s-title"></g>
      <g class="vzb-bc-axis-c-title"></g>

      <g class="vzb-bc-axis-y-info"></g>
      <g class="vzb-bc-axis-x-info"></g>
      
      <svg class="vzb-bc-labels-crop">
        <g class="vzb-bc-labels"></g>        
      </svg>       

      <g class="vzb-data-warning">
        <svg></svg>
        <text></text>
      </g>

      <rect class="vzb-bc-zoom-rect"></rect>
      <g class="vzb-bc-tooltip vzb-hidden">
        <rect class="vzb-bc-tooltip-border"></rect>
        <text class="vzb-bc-tooltip-text"></text>
      </g>
    </g>
  </svg>
  <!-- This could possibly be another component -->
  <div class="vzb-tooltip vzb-hidden vzb-tooltip-mobile"></div>
</div>
